{% extends "index.html" %}

{%- block title -%}
{{ title_macros::title(page_title=page.title, main_title=config.title) }}
{%- endblock -%}

{% block extra_head %}
    <link rel="stylesheet" href="{{ get_url(path="rtl.css", trailing_slash=false) | safe }}">
{% endblock extra_head %}

{% block content %}
    {%- if page.extra.lang -%}
        {%- set content_lang = page.extra.lang -%}
    {%- elif config.default_language -%}
        {%- set content_lang = config.default_language -%}
    {%- else -%}
        {%- set content_lang = "en" -%}
    {%- endif -%}
    
    {%- if content_lang == "ar" -%}
        {%- set content_dir = "rtl" -%}
    {%- else -%}
        {%- set content_dir = "ltr" -%}
    {%- endif -%}

    <div class="post">
        {# Custom header with dir attribute #}
        <h1 class="post-title" dir="{{ content_dir }}">
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </h1>
        <div class="post-meta-inline">
            <span class="post-date">
                {%- if page.date %}
                    {{ page.date | date(format="%Y-%m-%d") }}
                {% endif -%}
            </span>
        </div>

        {{ post_macros::tags(page=page) }}

        {# Custom content with dir attribute #}
        <div class="post-content" dir="{{ content_dir }}">
            {{ page.content | safe }}
        </div>

        {{ post_macros::earlier_later(page=page) }}
    </div>
{% endblock content %}
